body {

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'roboto', 'Helvectice', 'serif';

}

.header-container {

    background-color: #1F2937;
    color: white;

}

.header {

    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 50px;

}

.navbar {

    display: flex;
    /* bring separate contents to edges corresponding to the page */
    justify-content: space-between; 
    align-items: center;

    margin-bottom: 100px;

}

.navbar .logo {

    flex-shrink: 0;

}

.right-links ul {

    display: flex;
    gap: 10px;

    list-style-type: none;
    margin: 0;
    padding: 0;

}

.header-content {

    display: flex;
    justify-content: flex-start;

}

.header-content .left-box {

    display: flex;
    flex-direction: column;

    /* since direction is column, align the primary axis and cross axis */
    align-items: flex-start;

}

.header-content .lb-head {

    font-weight: bolder;
    font-size: 48px;

}

.header-content .right-box {

    display: flex;
    justify-content: center;
    align-items: center;

}

.right-box img {

    width: 300px;
    height: auto;

}

.random-information {

    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    margin-bottom: 90px;

}

.cards {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

}

.cards-title {

    margin-top: 30px;
    padding-bottom: 30px;

}

.card-container {

    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.card {

    border: 2px solid black;
    width: 150px;
    height: 150px;
    border-radius: 8%;

}

.quote-section-container {

    background-color: #E5E7EB;

}

.quote-section {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;

    padding: 70px;

}

.quote {

    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}

.author {

    display: flex;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    justify-content: right;

}

.sign-up-container {

    background-color: white;
    padding: 70px;

}

.sign-up {
    
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;

    padding: 30px;
    background-color: #3882F6;
    border-radius: 2%;
    color: white;

}

.sign-up .left-sign-up {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.sign-up .right-sign-up {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}



