.navbar {

    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;

    padding: 10px;

}

.right-links ul {

    display: flex;
    justify-content: space-between;
    list-style-type: none;

    margin: 0;
    padding: 0;
    gap: 10px;

}

.header {

    display: flex;
    justify-content: center;
    padding: 10px;

    margin-left: 15%;
    margin-right: 15%;

}

.header img {

    width: 300px;
    height: auto;

}